HTML App.json
[{"id":"b9e1e5b0.04ec08","type":"comment","z":"cad4a21a.675ae","name":"Web app","info":"","x":140,"y":680,"wires":[]},{"id":"2c787b1e.21f3e4","type":"http in","z":"cad4a21a.675ae","name":"","url":"/app","method":"get","swaggerDoc":"","x":175,"y":785,"wires":[["dad7169e.c2aeb8"]]},{"id":"dad7169e.c2aeb8","type":"template","z":"cad4a21a.675ae","name":"Stream page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Camera streaming</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <style type=\"text/css\">\n        .canvas-container {\n           width: 100%;\n           text-align:center;\n        }\n        \n        canvas {\n           display: inline;\n        }\n\n        .panel {\n            margin-top: 10px;\n            margin-bottom: 10px;\n            width: 850px !important;\n        }\n    </style>\n    <script src=\"/app.js\"></script>\n    </head>\n    <body onload=\"onLoad()\" onunload=\"ws.close();\">\n        <div class=\"panel panel-default center-block\">\n            <div class=\"panel-heading\">Camera streaming</div>\n            <div class=\"panel-body\">\n                <button id=\"startStopButton\" onclick=\"startStopCamera()\"></button> \n                <button id=\"streamButton\" onclick=\"startStopStream()\"></button>\n                <div id=\"status\">Waiting...</div>\n                <hr/>\n                <div class=\"canvas-container\">\n                    <canvas id=\"canvas-video\" width=\"800\" height=\"600\"></canvas>\n                </div>\n            </div>\n        </div>\n        \n        <div class=\"panel panel-default center-block\">\n            <div class=\"panel-heading\">Motion detected images</div>\n            <div class=\"panel-body\">\n                <div class=\"btn-group\" role=\"group\" aria-label=\"...\">\n                    <button type=\"button\" onclick=\"onPrev()\" class=\"btn btn-default\">Prev</button>\n                    <button type=\"button\" onclick=\"onNext()\" class=\"btn btn-default\">Next</button>\n                </div>\n                <span id=\"imagesMessages\"></span>\n                <hr />\n                <div class=\"canvas-container\">\n                    <canvas id=\"canvas-image\" width=\"800\" height=\"600\"></canvas>\n                </div>\n                <hr />\n                <button onclick=\"onDelete()\">Delete</button>\n                <button onclick=\"onDeleteAll()\">Delete all</button>\n            </div>\n        </div>\n    </body>\n</html>\n","x":385,"y":785,"wires":[["dc182fb6.f96db"]]},{"id":"dda5f856.383768","type":"http in","z":"cad4a21a.675ae","name":"","url":"/image/:index","method":"get","swaggerDoc":"","x":210,"y":860,"wires":[["79a1fcf0.beb5f4"]]},{"id":"dc182fb6.f96db","type":"http response","z":"cad4a21a.675ae","name":"","x":730,"y":860,"wires":[]},{"id":"79a1fcf0.beb5f4","type":"function","z":"cad4a21a.675ae","name":"Get image data","func":"var fs = global.get('fs');\n\n// function to encode file data to base64 encoded string\nfunction base64_encode(file) {\n    // read binary data\n    var bitmap = fs.readFileSync(file);\n    // convert binary data to base64 encoded string\n    return new Buffer(bitmap).toString('base64');\n}\n\nindex = msg.req.params.index;\n\nvar directory = '/home/pi/detected_images/';\nvar fileData = \"\";\nvar fileName = \"\";\n\nif (fs.existsSync(directory)) {\n    var files = fs.readdirSync(directory);\n    fileName = files[index];\n    \n    if (index < files.length)\n        fileData = base64_encode(directory + fileName);\n}\n\nmsg.payload = {\n    fileData: fileData,\n    fileName: fileName\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":860,"wires":[["dc182fb6.f96db"]]},{"id":"a49eb602.a9d048","type":"http in","z":"cad4a21a.675ae","name":"","url":"/image/:index","method":"delete","swaggerDoc":"","x":220,"y":920,"wires":[["3883bfcc.40b35"]]},{"id":"3883bfcc.40b35","type":"function","z":"cad4a21a.675ae","name":"Delete image data","func":"var fs = global.get('fs');\n\nindex = msg.req.params.index;\n\nvar directory = '/home/pi/detected_images/';\nvar files = fs.readdirSync(directory);\n\nif (index < files.length) {\n    filePath = directory + files[index]\n\n    fs.unlinkSync(filePath);\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["dc182fb6.f96db"]]},{"id":"b6226e54.c830c","type":"http in","z":"cad4a21a.675ae","name":"","url":"/images","method":"delete","swaggerDoc":"","x":210,"y":980,"wires":[["5b6d91ac.3ca1"]]},{"id":"5b6d91ac.3ca1","type":"function","z":"cad4a21a.675ae","name":"Delete all images","func":"var fs = global.get('fs');\n\n\nvar directory = '/home/pi/detected_images/';\n\nvar deleteFolderRecursive = function(path) {\n  if( fs.existsSync(path) ) {\n    fs.readdirSync(path).forEach(function(file,index){\n      var curPath = path + \"/\" + file;\n      if(fs.lstatSync(curPath).isDirectory()) { // recurse\n        deleteFolderRecursive(curPath);\n      } else { // delete file\n        fs.unlinkSync(curPath);\n      }\n    });\n    fs.rmdirSync(path);\n  }\n};\n\ndeleteFolderRecursive(directory);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":980,"wires":[["dc182fb6.f96db"]]},{"id":"e5b24612.15ec68","type":"http in","z":"cad4a21a.675ae","name":"","url":"/app.js","method":"get","swaggerDoc":"","x":190,"y":740,"wires":[["3ba4330b.bbd38c"]]},{"id":"3ba4330b.bbd38c","type":"template","z":"cad4a21a.675ae","name":"app.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var canvasStream;\nvar contextStream;\nvar canvasImg;\nvar contextImg;\nvar streamImg = new Image();\nvar detectedImg = new Image();\n\nvar running = false;\nvar streaming = false;\nvar ws; \nvar wsUri = \"ws:\";\nvar loc = window.location;\n\nif (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n// This needs to point to the web socket in the Node-RED flow\nwsUri += \"//\" + loc.host + loc.pathname.replace(\"app\",\"ws/streaming\");\n\nwindow.onbeforeunload = function() {\n    if (ws) ws.close();\n};\n    \nfunction onLoad() {\n    $(\"#streamButton\").hide();\n    $(\"#startStopButton\").text(\"Start camera\");\n    \n    canvasStream = document.getElementById('canvas-video');\n    contextStream = canvasStream.getContext('2d');\n\n    canvasImg = document.getElementById('canvas-image');\n    contextImg = canvasImg.getContext('2d');\n    \n    // show loading notice\n    contextStream.fillStyle = '#333';\n    contextStream.fillText('Loading...', canvasStream.width/2-30, canvasStream.height/3);\n\n    startStopCamera();\n    getImagesCount();\n}\n\nfunction wsConnect() {\n    ws = new WebSocket(wsUri);\n    ws.onmessage = function(msg) {\n        var base64String = msg.data;\n        \n        streamImg.onload = function () {\n            contextStream.drawImage(this, 0, 0, canvasStream.width, canvasStream.height);\n        };\n        streamImg.src = 'data:image/jpeg;base64,' + base64String;\n        $(\"#status\").text(\"Connected @ \" + new Date());\n    };\n    ws.onopen = function() {\n        // update the status div with the connection status\n        $(\"#status\").text(\"Connected\");\n        $(\"#streamButton\").text(\"Stop stream\");\n    };\n    ws.onclose = function() {\n        // update the status div with the connection status\n        $(\"#status\").text(\"Not connected\");\n        // in case of lost connection tries to reconnect every 3 secs\n        setTimeout(function() {\n            if (streaming == true)\n                wsConnect();\n        },3000);\n    };\n}\n\nfunction startStopCamera() {\n    if (running === false) {\n        $.get(\"/start\", function(data, status) {\n            $(\"#startStopButton\").text(\"Stop camera\");\n            $(\"#streamButton\").text(\"Start stream\");\n            $(\"#status\").text(data); // Started\n            $(\"#streamButton\").show();\n            running = true;\n            \n            startStopStream();\n        });\n    } else {\n        startStopStream();\n        $.get(\"/stop\", function(data, status) {\n            $(\"#startStopButton\").text(\"Start camera\");\n            $(\"#status\").text(data); // Stopped\n            $(\"#streamButton\").hide();\n            running = false;\n        });\n    }\n}\n\nfunction startStopStream() {\n    if (running == false) {\n        alert(\"Start camera first.\");\n        return;\n    }\n        \n    if (streaming === false) {\n        $(\"#status\").text(\"connecting to stream...\");\n        wsConnect();\n        streaming = true;\n    } else {\n        $(\"#streamButton\").text(\"Start stream\");\n        if (ws) ws.close();\n        streaming = false;\n    }\n}\n\n// detected image\nvar index = 0;\n\nfunction setImage(data) {\n    detectedImg.onload = function () {\n        contextImg.drawImage(this, 0, 0, canvasImg.width, canvasImg.height);\n    };\n    detectedImg.src = 'data:image/jpeg;base64,' + data;\n}\n\nfunction clearImage() {\n    contextImg.clearRect(0, 0, canvasImg.width, canvasImg.height);\n\n    contextImg.fillStyle = '#333';\n    contextImg.fillText('No image...', canvasImg.width/2-30, canvasImg.height/3);\n}\n\nfunction onPrev() {\n    if (index == 0)\n        return;\n    \n    index--;\n    getImageAt(index);\n}\n\nfunction onNext() {\n    index++;\n    getImageAt(index);\n}\n\nfunction getImageAt() {\n    $.get(\"/image/\" + index, function(data, status) {\n        if (data && data.fileData != '') {\n            setImage(data.fileData);\n            $(\"#imagesMessages\").text(data.fileName);\n        } else {\n            if (index > 0)\n                index--;\n            clearImage()\n        }\n    });\n}\n\nfunction onDelete() {\n    $.ajax({\n        url: \"/image/\" + index,\n        type: \"DELETE\",\n        success: function() {\n            $(\"#imagesMessages\").text(\"Deleted...\");\n            clearImage();\n        }\n    });\n}\n\nfunction onDeleteAll() {\n    $.ajax({\n        url: \"/images\",\n        type: \"DELETE\",\n        success: function() {\n            $(\"#imagesMessages\").text(\"All images deleted...\");\n            clearImage();\n            index = 0;\n        }\n    });\n}\n\nfunction getImagesCount() {\n    $.get(\"/images/metadata\", function(data, status) {\n        if (data && data.count > 0) {\n            index = data.count - 1;\n            getImageAt(index);\n        }\n    });\n}","x":410,"y":740,"wires":[["dc182fb6.f96db"]]},{"id":"604f6f7d.529b5","type":"http in","z":"cad4a21a.675ae","name":"","url":"/images/metadata","method":"get","swaggerDoc":"","x":210,"y":1040,"wires":[["5e35740c.5dd5ac"]]},{"id":"5e35740c.5dd5ac","type":"function","z":"cad4a21a.675ae","name":"Get images count","func":"var fs = global.get('fs');\n\nvar directory = '/home/pi/detected_images/';\nvar count = 0;\n\nif (fs.existsSync(directory)) {\n    var files = fs.readdirSync(directory);\n    count = files.length;\n}\nmsg.payload = {\n    count: count\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1040,"wires":[["dc182fb6.f96db"]]}]
